body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 50px;
    color: #ffffff;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: #FFD700;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    border-radius: 10px;
}

section {

    background-color: #9cf3ff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: url('patient.jpg') no-repeat right bottom;
    background-size: 750px 750px; 
    padding: 50px; 
    background-color: #bff8ff;
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
        
    
}


section h2 {
    color: #FFD700;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
}
form label {
    display: block;
    margin-bottom: 10px;
    color: #ff1111;
}





form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3ac2daf1;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
form input[type="submit"]:hover {
    background-color: #0ea4cc; 
    color: #ffffff; 
    transform: translateY(-3px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}